<h1>Add A License</h1>

<p>We want to help developers choose a license for their source code.</p>

<p>If you already know what you’re doing and have a license you prefer to use, that’s great! We’re not here to change your mind. But if you are bewildered by the large number of OSS license choices, maybe we can help.</p>

<p>This site is meant to be accompanied by a thorough reading of <a href="http://www.choosealicense.com">choosealicense.com</a>. This site is <em>not</em> affilaited with GitHub.

<h3>Ready to get started? <a href="/add">Let's get adding!</a></h3>